# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/.idea/
android/app/build/
android/build/

# IDE/Others
.idea/
.vscode/
*.iml
.DS_Store